/vendor
/node_modules
.env
.env.*
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/public/build
/public/hot
/public/css
/public/js
/bootstrap/cache
.phpunit.result.cache
*.sqlite
*.sqlite-journal
